includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src/
    level: 9
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/Bag/DebugBar
        - src/Bag/TypeScript/Reflection
