includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src/
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
